@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 10, 27%, 96%;
    --primary: 352, 88%, 41%;
    --secondary: 213, 49%, 61%;
    --accent: 245, 24%, 18%;
    --textcolor: 3, 51%, 14%;
    --secondary-faded: 213, 49%, 80%, 28%;
    --textcolor-faded: 3, 51%, 14%, 20%;
    --placeholder-tcf: 3, 51%, 14%, 60%;

    --btn-bg: 352, 84%, 36%;
    --btn-hover: 352, 79%, 31%, 100%;
    --foreground: 200, 50%, 3% ;



    /* background-color: #F7F2F1; */
  /* font-family: Noto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
}}


body {
  /* margin: 0;
  place-items: center;
  place-content: center; */
  display: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Noto_Sans',  sans-serif;
  background-color: hsl(10, 27%, 96%);
}

h1 {
  font-size: 2em;
  font-weight: 600;
  word-spacing: 3%;
}

/* app */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}


/* registration */
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.face-guide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 16rem;
  border: 4px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  font-size: 2em;
  font-weight: 600;
  word-spacing: 3%;
}

.gradient-text {
  background: linear-gradient(to right, #C30D26, #351311);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}  */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
